spring:
  datasource:
#    url: jdbc:h2:tcp://localhost/~/jpashop;
    url: jdbc:h2:tcp://localhost/~/testcase; #HOME
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
#        show_sql: true
        format_sql: true
        default_batch_fetch_size: 100 # 25.12.17 fetch Join paging 작업을 위한 한계돌파. / 글로벌 적용. / in 쿼리의 갯수를 의미 / 1nm을 111을 만드는 엄청난 최적화
        # in query 배치 사이즈 적당한 사이즈 : 미니멈은 없지만 맥시멈은 1000개로 잡는것을 권장한다.

logging:
  level:
    org.hibernate.SQL: debug
#    org.hibernate.type: trace